h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "NanumSquareNeo-Variable";
  line-height: 1.5em;
  letter-spacing: -1px;
  font-weight: 300;
}
p {
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "GmarketSansMedium";
  letter-spacing: 0.5px;
  font-weight: 900;
}
b {
  font-weight: 1000;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 헤더 시작 */

.header-wrap {
  width: 100%;
  height: 70px;
  background-color: #000;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-wrap > .logo-img {
  width: 100px;
  height: 100%;
  line-height: 70px;
  text-align: center;
}

.header-wrap > ul {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap ul > li {
  width: 33.33%;
  height: 100%;
  line-height: 100%;
  cursor: pointer;
  text-align: center;
  color: #ccc;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-wrap ul > li > .depth2 {
  width: 120%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.header-wrap ul > li:nth-child(2):hover .depth2 {
  height: auto;
}

.header-wrap ul > li > .depth2 li {
  width: 100%;
  padding: 10px 8px;
  font-size: 14px;
  background-color: #282828;
  color: #fff;
  transition: 0.1s;
}

.header-wrap ul > li > div li:hover {
  color: #fff;
  background-color: #b73e3e;
}

.header-wrap ul > li:hover {
  color: #fff;
}

.header-wrap ul > li > p {
  font-size: 13px;
  font-weight: bolder;
  margin-top: 10px;
}

.header-wrap > .logo-img {
  cursor: pointer;
}

/* 헤더 끝 */

/* 메인슬라이드 시작 */

.slide-card {
  width: 100%;
  height: 30vw;
  min-height: 370px;
  position: relative;
}

.slide-img {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-text-warp {
  width: 80%;
  height: 100%;
  background: linear-gradient(to left, #000 50%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
}

.slide-text-warp > .text-box {
  width: 50%;
  height: 100%;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.slide-text-warp > .text-box > .title > h3 {
  font-size: 30px;
}

.slide-text-warp > .text-box > .title > .tagline {
  font-size: 14px;
}

.slide-text-warp > .text-box > .more {
  width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: 0.5s;
}

.slide-text-warp > .text-box > .more:hover {
  color: #000;
  background-color: #fff;
}

/* 메인슬라이드 끝 */

.main-wrap,
.SearchPage-wrap {
  width: 100vw;
  min-width: 380px;
  min-height: 100vh;
  background-color: #181818;
  padding: 70px 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #b73e3e !important;
}

/* ============검색창 시작============== */

.searchBox-wrap {
  width: 90%;
  height: 50px;
  background-color: #484848;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 100px;
  transition: 0.5s;
  z-index: 900;
}

.searchBox-wrap.slidedown {
  top: 80px;
  animation: searchBarAnime cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
}

@keyframes searchBarAnime {
  0% {
    top: 0;
  }
  40% {
    top: 90px;
  }
  60% {
    top: 70px;
  }
  70% {
    top: 90px;
  }
  90% {
    top: 75px;
  }
  100% {
    top: 80px;
  }
}

.searchBox-wrap form {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  line-height: 40px;
  font-size: 24px;
  font-weight: 300;
  height: 40px;
  border: none;
  outline: none;
  background-color: #484848;
  color: #eee;
}

.field {
  margin-right: 10px;
  margin-top: 10px;
}

.ui.selection.dropdown {
  min-width: 0;
}

.searchResultText {
  width: 100%;
  background-color: #181818;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  font-size: 30px;
}

/* ============검색창 끝============== */

/* ============무비카드 시작============ */
.movieCard-wrap {
  width: 80%;
  margin: 0 auto;
}

.main-wrap > .text-box {
  width: 80%;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 50px auto 20px auto;
}

.main-wrap > .text-box h3 {
  font-size: 36px;
}

.main-wrap > .text-box p {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.movie-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.movie-card .img-box {
  width: 100%;
  padding-bottom: 140%;
  margin-bottom: 10px;
  background-size: 100%;
  background-position: center;
  transition: 0.2s;
}

.movie-card .img-box:hover {
  background-size: 110%;
}

.movie-card:hover > p {
  transition: 0.2s;
  letter-spacing: 0;
  font-weight: 1000;
}

/* ============무비카드 끝============ */

/* 검색페이지 */

.searchBody-warp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.searchBody-warp > ul {
  width: 90%;
  color: #fff;
  display: flex;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
}

.searchBody-warp > ul > li {
  color: #787878;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.searchBody-warp > ul > li.active {
  color: #fff;
}

.searchBody-warp > ul > li:hover {
  color: #fff;
}

.searchBody-warp .movie-wrap {
  width: 90%;
  min-height: 200px;
  position: relative;
  padding-top: 30px;
  margin-top: 100px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchBody-warp .movie-card {
  width: 30%;
  max-width: 220px;
  margin-bottom: 50px;
}

.searchBody-warp .movie-card .img-box {
  width: 100%;
  padding-bottom: 140%;
}

.person-warp {
  width: 90vw;
  min-height: 200px;
  padding-top: 30px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchBody-warp .person-card {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBody-warp > .img-box {
  width: 48%;
  padding-bottom: 66.66%;
  background-size: cover;
  background-position: center;
}

.person-card .text-box {
  width: 48%;
  color: #fff;
  font-size: 18px;
}

.main-test {
  width: 100vw;
  height: 300px;
  background-color: #ddd;
}

.detail-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.detail-wrap .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-wrap .detail-card {
  width: 80%;
  max-width: 1200px;
  min-width: 420px;
  height: 70%;
  background-color: #181818;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 20px;
  overflow-y: scroll;
  z-index: 1000;
  color: #fff;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: column;
}
.detail-wrap .detail-card::-webkit-scrollbar {
  background: #383838;
}
.detail-wrap .detail-card::-webkit-scrollbar-thumb {
  background: #ddd;
}

.detail-card .close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 20px;
}

.detail-card > .movie-info > .movie-text > p,
.detail-card > .movie-info > .movie-text > .preovier {
  background-color: #282828;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.detail-wrap .detail-card .movie-info {
  width: 100%;
  display: flex;
}

.detail-wrap > .detail-card > .movie-info > .img-box {
  width: 35%;
  margin-right: 15px;
  position: relative;
}

.detail-wrap > .detail-card > .movie-info > .img-box .like-icon {
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
}
.detail-wrap > .detail-card > .movie-info > .img-box .like-icon.active {
  color: #b73e3e;
}
.detail-wrap > .detail-card > .movie-info > .img-box .like-icon.active::after {
  content: "LIKE";
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  bottom: -130%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.detail-wrap > .detail-card > .movie-info > .img-box .like-icon:hover {
  animation: likeBtnHoverAni 1s;
}

.profile-wrap {
  width: 100vw;
  background-color: #181818;
  padding-top: 70px;
  display: flex;
}

.profile-wrap h3 {
  font-family: "NanumSquareNeo-Variable";
  font-weight: 500;
}

.profile-wrap form {
  width: 100%;
  background-color: #181818;
  padding: 50px 100px;
}

.profile-wrap .ui.form .field {
  margin: 25px 0;
}
.profile-wrap .big-profile-img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.profile-wrap .big-profile-img img {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.profile-wrap .ui.form button {
  width: 50%;
  max-width: 150px;
}

.profile-wrap .ui.form textarea {
  max-width: 500px;
}

.profile-image p,
.field p {
  font-size: 12px;
  font-weight: lighter;
  color: #ccc;
}

.ui.form .field > label {
  color: #fff;
}

.profile-wrap aside {
  width: 15%;
  min-width: 200px;
  min-height: 100vh;
  background-color: #383838;
  color: #fff;
}

.profile-wrap aside > ul {
  width: 100%;
}
.profile-wrap aside > ul > li {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.profile-wrap aside > ul > .active {
  background-color: #e4e4e4;
  color: #181818;
}

.delete-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
}

.delete-modal-bg .delete-modal {
  width: 500px;
  height: 200px;
  background-color: #282828;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 30px;
}

.delete-modal-bg .delete-modal .icon {
  color: #fff;
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 20px;
  cursor: pointer;
}

.profile-image {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.profile-image .img-box {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.profile-image .img-box img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes likeBtnHoverAni {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.detail-wrap > .detail-card > .movie-info > .img-box .outline {
}

.detail-wrap > .detail-card > .movie-info > .img-box img {
  width: 100%;
}

.detail-wrap > .detail-card .movie-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-card .title h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.detail-card .tag {
  font-size: 16px;
  font-weight: 100;
  color: #d8d8d8;
}

.detail-card .movie-text .cast {
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail-card .similar {
  width: 100%;
  padding: 10px 0;
}

.detail-card .similar > div {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  scrollbar-color: #ddd #000;
}
.detail-card .similar > div::-webkit-scrollbar {
  background-color: #484848;
}
.detail-card .similar > div::-webkit-scrollbar-thumb {
  background: #fff;
}

.detail-card .similar > div img {
  width: 150px;
  margin: 10px 0;
  margin-right: 15px;
}

.detail-card .similar .similar-card {
  cursor: pointer;
}

.detail-card .videos {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  margin: 30px 0;
}

.detail-card .noHaveVideo {
  width: 30%;
  padding-bottom: 42%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
}

.detail-card .videos iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.detail-card .review .review-box .review-content {
  width: 90%;
  margin: 0 auto;
  background-color: #383838;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  word-break: break-all;
  position: relative;
}

.detail-card .review .review-box .review-content .icon {
  position: absolute;
  z-index: 100;
  top: 0px;
  right: -5px;
}

.detail-card .review form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.detail-card .review .reviewText {
  width: 100%;
}

.detail-card .review .ui.button {
  width: 80px;
}

.detail-card .review .review-box .review-content p span {
  font-size: 12px;
}

.review-box .time {
  font-size: 12px;
  color: #d8d8d8;
}

.preovier-box {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #fff;
}

.preovier-box .preovier-img {
  width: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.join-wrap,
.login-wrap {
  width: 100vw;
  height: 100vh;
  min-width: 420px;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.login-wrap .ui.checkbox label,
.login-wrap .ui.checkbox label,
.login-wrap .ui.checkbox input:focus ~ label,
.login-wrap .ui.checkbox label:hover {
  width: 100%;
}

.join-form,
.login-form {
  padding: 50px;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.ui.form .field {
  width: 300px;
}

.join-form .ui.form .field > label,
.login-form .ui.form .field > label {
  color: #fff;
  font-weight: 300;
}

.join-form .field .check,
.login-form .field .check {
  margin-top: 5px;
  color: #fff;
}

.ui.checkbox label,
.ui.checkbox input:focus ~ label,
.ui.checkbox label:hover {
  color: #fff;
  width: 40%;
}
.ui.checkbox label:after {
  top: -4px;
}

.ui.button {
  background-color: #b73e3e;
  color: #fff;
}

.loading-wrap {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
}

.go-top-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  color: #b73e3e;
  font-weight: 1000;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 100;
}

.mo-header-wrap {
  background-color: #000;
  width: 100%;
  padding: 0 5%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.mo-header-wrap .icon,
.mo-header-wrap .logo-img {
  cursor: pointer;
  font-size: 20px;
}
.mo-menu {
  width: 70%;
  height: 100vh;
  background-color: #282828;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}

.mo-menu li {
  height: 70px;
  line-height: 50px;
  padding: 10px;
  background-color: #383838;
  color: #fff;
  border-bottom: 1px solid #484848;
  text-align: center;
  cursor: pointer;
}

.mo-menu li.active {
  background-color: #787878;
}

.mo-menu li:nth-child(1) {
  background-color: inherit;
  padding: 0 30px;
  line-height: 100px;
  height: 100px;
  text-align: left;
  cursor: inherit;
}

.mo-menu-bg {
  width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  cursor: pointer;
}

.mo-menu-bg .icon {
  position: absolute;
  color: #fff;
  right: 20px;
  top: 20px;
}

.delete-wrap {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  color: #fff;
  padding: 70px;
  padding-top: 140px;
}

.delete-wrap p {
  font-size: 12px;
}

.change-password {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  padding: 70px 0;
  padding-top: 140px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password p {
  font-size: 12px;
}

.change-password .form-wrap {
  background-color: #282828;
  width: 100%;
  padding: 50px;
}

.change-password .form-wrap form {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

.change-password .ui.form .field input {
  padding: 5px;
}

.change-password .ui.form .field:nth-child(1) p {
  margin-bottom: 10px;
}

.change-password .ui.form .field:nth-child(1) {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1200px) {
  .slide-text-warp .overview {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
  .searchBody-warp .person-card {
    width: 48%;
  }

  .detail-wrap .detail-card .movie-info {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .detail-wrap .detail-card .movie-info {
    flex-direction: column;
    align-items: center;
  }
  .detail-wrap > .detail-card > .movie-info > .img-box {
    width: 50%;
  }
  .detail-wrap > .detail-card .movie-text {
    width: 100%;
  }
  .detail-wrap > .detail-card .movie-text > div,
  .detail-wrap > .detail-card .movie-text > p {
    margin-top: 30px;
  }
  .slide-text-warp > .text-box .more {
    padding: 5px 0;
  }

  .slide-text-warp > .text-box {
    padding: 0;
  }

  .searchBody-warp .person-card {
    width: 100%;
  }
  .detail-card .noHaveVideo {
    width: 40%;
    padding-bottom: 53%;
  }
  .profile-wrap aside {
    display: none;
  }
}

@media (max-width: 420px) {
  .detail-wrap > .detail-card > .movie-info > .img-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .detail-wrap .detail-card {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    padding-bottom: 210px;
  }
  .detail-card .noHaveVideo {
    width: 60%;
    padding-bottom: 80%;
  }
  .join-form,
  .login-form {
    background-color: inherit;
  }
  .searchBox-wrap {
    width: 100%;
    border-radius: 0;
  }
  .searchBox-wrap.slidedown {
    top: 70px;
    animation: none;
  }

  .ui.form .field input {
    width: auto;
  }
  .profile-wrap .ui.form button {
    width: 100%;
  }
  .profile-wrap .big-profile-img img {
    width: 80%;
  }
}
